
body {
    background-color: #ECEFF1;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.buttons {
    flex: 1;
    justify-self: center;
}

.result {
    flex: 4;
    margin: 1em;
    padding: 2em;
    background-color: #424242;
    color: #ECEFF1;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

.btnRed{
    background-color: #F44336;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btnGreen{
    background-color: #4CAF50;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btnYellow{
    background-color: #FFCA28;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btnBlue{
    background-color: #3F51B5;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 400;
    font-size: xx-large;
    border-radius: 10px;
    margin-bottom: 20px;
}